<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="git:">
    <title>JumboETL</title>
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href=".\public\icon.jpeg">
    
</head>

<body>
    <div class="container">
        <div>
            <div class="import_banner">
               <h1 id="texto">Arquivo Recebido !</h1> 
               <strong><span></span></strong>
            </div>
        </div>
        <a href="javascript:history.back()" id="reload">-Carregar outros arquivos</a>
    </div>
</body>

</html>